
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Menu */
#menu a{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.carousel-inner{
    max-height: 800px;
    
}