
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Menu */
#menu a{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

/* .text-header{
    position: absolute;
    top: 50%;
    right: 35%;
}


header h1{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold ;
    font-size: 2.6rem;
    text-shadow: 20px;
}

.text-header p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2.6rem;
} */

.carousel-inner{
    max-height: 900px;
    
}

.section-text{ 
    max-width: 1200px;
    width: 90%;
    margin: auto;

    text-align: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

.card{
    padding-bottom: 0;
}

.card img{
    max-height: 400px;
}

.card-body{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text{
    font-size: 1.2;
}

@media screen and (min-width: 768px) {
    
    
}